<h1>{{title}}</h1>
{{#if success}}
    <div class="alert alert-success">{{success}}</div>
    
{{/if}}
{{!-- <div class="alert alert-success">TruAbilities app has been installed successfully!</div> --}}